@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@200;300;400;500&display=swap');

/*configuração do Calendario*/

#denssiometria {
    
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
    max-height: 730px;
  }

.agenda {
    box-shadow: 0px 3px 10px #464646;
    width: 80%;
    margin: 0px auto;
    padding:5px;
    border-radius: 10px;
}

.agenda h1{
    margin: 10px auto;
    padding: 0;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    background-color: #cfe2ff;
    box-shadow: 0px 3px 10px #464646;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#mamografia {
    
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
    max-height: 730px;
  }

.agenda2 {
    box-shadow: 0px 3px 10px #464646;
    width: 80%;
    margin: 0px auto;
    padding:5px;
    border-radius: 10px;
}

.agenda2 h1{
    margin: 10px auto;
    padding: 0;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    background-color: #ffe2dc;
    box-shadow: 0px 3px 10px #464646;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#medicoOrtopedia {
    
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
    max-height: 730px;
  }

.agenda3 {
    box-shadow: 0px 3px 10px #464646;
    width: 80%;
    margin: 0px auto;
    padding:5px;
    border-radius: 10px;
}

.agenda3 h1{
    margin: 10px auto;
    padding: 0;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    background-color: #d1e7dd;
    box-shadow: 0px 3px 10px #464646;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#raiosx {
    
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
    max-height: 730px;
  }

.agenda4 {
    box-shadow: 0px 3px 10px #464646;
    width: 80%;
    margin: 0px auto;
    padding:5px;
    border-radius: 10px;
}

.agenda4 h1{
    margin: 10px auto;
    padding: 0;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    background-color: #ced4da;
    box-shadow: 0px 3px 10px #464646;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#ultrassonografia {
    
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
    max-height: 730px;
  }

.agenda5 {
    box-shadow: 0px 3px 10px #464646;
    width: 80%;
    margin: 0px auto;
    padding:5px;
    border-radius: 10px;
}

.agenda5 h1{
    margin: 10px auto;
    padding: 0;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    background-color: #fff3cd;
    box-shadow: 0px 3px 10px #464646;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

