*{
    padding: o;
    margin: 0;
 }

 
 .print{
    display: none;
    margin: 10px;
    padding: 20px;  
 }

 .print img{
    display: block;
    margin: auto;
    border-radius: 40px;
    width: 60px;  
 }

 .print h1{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
 }

 .print h4{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -20px;
 }

 .print h6{
    text-align: cent;
 }

 @media print{
    .print{
        display: block;
    }
    .dados{
        display: none;
    }
 }

.container-fluid p {
   
   text-align: center;
   color: red;
}