@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
 


:root {
    --azul-1 : #012030;
	--azul-2 : #13678A;
	--azul-3 : #54fae1;
	--azul-4 : #9AEBA3;
	--azul-5 : #DAFDBA;
}

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: #012030;
    
}


h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-top: 15%;
    font-weight: 400;
    
}

.hello {
    align-items: center;
    justify-content: center;
    height: 100vh; /* altura do container */
    width: 100%; /* largura do container */
    background-color: transparent;
}


.hello > img {
    width: auto;
    height: 50vh;
    display: flex;
    margin: 0 auto;
    min-height: 569px;
}

/* config signin signup */
#container {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    text-align: center;
}


#login-form {
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-top: 30%;
    background-color: #0b3c52;
    margin: 30% 23% 0% 12%;
    padding: 15px 0px 33px 0px;
    border-radius: 30px;
    background: linear-gradient(to left, #0000005b, #00010f1a, #00122563,#00263b5b, #0B3C52 );
}
input {
    /* width: 350px; */
    border-radius: 19px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    box-sizing: border-box;
    width: 25vw;
    border: none;
    box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 23%);
}




.box {
    
    margin: auto;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 96.3vh;
    
}

.log-clear {
    width: 382px;
    background-color: #00ffc8;
    color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    transition: transform .01s;
    /* width: 350px; */
    width: 25vw;
    

}

#teste {
    /* Pra deixar o login e o limpar embaixo do outro */
    display: inline-grid;
}

p {
    font-size: 1.3rem;
    color: white;
}

.log-clear:hover{
    transform: scale(1.02);
    cursor: pointer;
    

}

/* Animação no container de degradê */
#login-form {
    position: relative;
    overflow: hidden;
    border-radius: 30px; /* adicionar arredondamento */
}

#login-form span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent, #00ffc8);   
    width: 100%;
    height: 3px;
    background-clip: padding-box;
    animation: animar1 2s linear infinite;
}

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}


#login-form span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, #00ffc8);   
    width: 3px;
    height: 100%;
    animation: animar2 2s linear infinite;
    animation-delay: 1s;

}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


#login-form span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, transparent, #00ffc8);   
    width: 100%;
    height: 3px;
    animation: animar3 2s linear infinite;

}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}


#login-form span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, transparent, #00ffc8);   
    width: 3px;
    height: 100%;
    animation: animar4 2s linear infinite;
    animation-delay: 1s;


}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


/* Configurando o botao de login */

#link-login {
    border-radius: 19px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    box-sizing: border-box;
    width: 25vw;
    border: none;
    box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 23%);
}



/* Media queries */
@media (max-width: 1204px) {
    #login-form {
        font-size: 20px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin-top: 30%;
        margin: 23vh 24% 0% 12%;
    }
}



@media (max-width: 1072px) {
    .grid {
        display: block;
    }
    input , .log-clear, #link-login{
        width: 50vw;
        
    }
    #login-form {
        margin: 23vh 20% 0% 20%;
    }
    .hello {
        height: 500px;
    }
    h1 {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 1.9rem;
        letter-spacing: 2.4px;
        margin-top: 21%;
        font-weight: 300;
    }
    .hello > img{
        min-height: 382px;
    }
}


@media (max-width: 800px) {
    .grid {
        display: block;
    }
    input , .log-clear, #link-login{
        width: 75vw;
        
    }
    #login-form {
        margin: 23vh 5% 0% 5%;
    }
    .hello {
        height: 500px;
    }
    h1 {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 1.9rem;
        letter-spacing: 2.4px;
        margin-top: 21%;
        font-weight: 300;
    }
    .hello > img{
        min-height: 382px;
    }
}



/* Adcionando efeitos ao recarregar a página */
h1, img, #login-form{
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-13 18:16:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 /* ----------------------------------------------
 * Generated by Animista on 2023-2-13 18:19:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  


/* Configurando o esqueci minha senha */

#forget-password {
    text-align: right;
    margin: 20px 20px 0px 0px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;

}

#forget-password > a {
    text-decoration: underline;
    color: white;
}

#forget-password > a:hover {
    color: #00FEC7;
}

/* Configurando o rodapé */
footer{
    text-align: center;
    background-color: #07354A;
    color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p > a {
    text-decoration: underline;
    color: white;
}
footer > p > a:hover{
    color: #00ffc8;
}


.imglogin{
    border-radius: 100px; /*Coloca a figura redondada*/
    width: 155px; /*Define o Tamanho da Imagem*/
    box-shadow: 0px 0px 10px #ccc; /*Define uma sombra*/
    
}