<html>
  <head>
    <title>Exemplo de listagem de registros</title>
  </head>
  <body>
    <div class="container-fluid border border-1 border-drak mb-5 p-4 bg-white shadow">

      <div class="row">

          <div class="my-3 col-5">
              <label class="form-label">Nome:</label>
              <input id="nome" class="form-control" type="text" name="nome" value="<%= nome %>" >
          </div>
    </div>

  </body>
</html>

