<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo de listagem de registros</title>
  </head>
  <body>
    <h1>Lucas Banana</h1>
    <form>
      <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="<%= nome %>">
      </div>
      
    </form>
  </body>
</html>